:root {
    --color-text: #2F2E2E;
}
/* Founts */
/* font-family: "Barlow", sans-serif;
font-family: "Inter", sans-serif;
font-family: "Playfair Display", serif; */
.container {
    width: 1276px;
    margin: 0 auto;
}
.header {
    padding-top: 47px;
    margin-bottom: 91px;
}

.header__inner {
    max-width: 1259px;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-left: 13px;
    width: 42.4%;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: var(--color-text);
}
.menu {
    padding-top: 20px;
    width: 55%;
    display: flex;
    margin-right: 15px;
}
.menu li:nth-child(1) {
    margin-right: 1px;
}
.menu li:nth-child(2) {
    margin-right: 5px;
}
.menu li:nth-child(3) {
    margin-right: 5px;
}
.menu__item {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.menu__icon {
    padding-top: 15px;
    width: 2.2%;
}
